@font-face {
    src: url("fonts/Pacifico.ttf");
    font-family: "Pacifico";
    font-weight: bold;
}

@font-face {
    src: url("fonts/Karla-Regular.ttf");
    font-family: "Karla"; 
    font-weight: normal; 
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3 {
    font-family: "Pacifico", Arial, sans;
    font-size: 40px;
}

/* General */
img {
    max-width: 100%;
    display: block;
    margin: auto;
    width: 100%;  
}


.small-heading {
    font-size: 4em;
}

.medium-heading {
    font-size: 4em;
}

.large-heading {
    font-size: 4em;
}

.center-text {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin: auto;
}


/* Header */
header {
    background: black;
    width: 100%;
}

header a {
    color: white;
    text-decoration: none;
}

header img {
    max-width: 50%;
    margin: auto;
    display: block;
    padding: 1em;
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin: auto;
}

header nav a {
    color: white; 
}

main div a {
    color: black; 
}

/*desktop breakpoint
@media (min-width: 600px);
.images {
    flex direction: row; 
    justify-content: space-around; 

.images img {*/

* {
    font-family: "Karla"; 
}

/* Masthead */
.masthead {
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.2), white), 
        url("images/kayak-bkgd.jpg");
    background-repeat:
        no-repeat,
        no-repeat; 
    background-size:
        cover,
        cover;
    background-position: 
        center center,
        center center;

    padding: 10em 0;
}

.masthead .center-text {
    width: 100%;
    color: white;
    margin: 0.25em 0;
} 

.masthead p {
    width: 80%;
    color: white;
    margin: 0.5em auto;
    background: rgba(0, 0, 0, 0.6);
    font-size: 1.75em;
    text-align: center;
    padding: 0.75em 1em;
}

.masthead a {
    display: block;
    margin: 1em auto;
    text-align: center;
    font-size: 2em;
    color: white;
    text-decoration: none;
    padding: 0.75em;
    width: 40%;
    background-color: #e2574c;
    border-radius: 60px;
    text-transform: uppercase;
}
p {
    text-align: center;
    font-size: 25px;
}

table {
    text-align: center;
    font-size: 25px; 
    margin: auto;
}

iframe {
    max-width: 100%;
    display: block;
    margin: auto;
    width: 100%;
}

footer div p {
    text-align: center;
}

footer div {
    text-align: center;
}

section#rental div {
    display: flex; 
    flex-direction: column; 
}

/* Table Boarder */ 
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }

    th, td {
        padding: 15px;
}
 /* Tablet */
@media screen and (min-width: 600px) {
    section#rental div {
        flex-direction: row;
        padding: 60px;
    }
    
    table {
        text-align: right;
        padding: 15px;
    }

    .images {
        display: flex;
        flex-direction: row;
        width: 33%;
        align-items: center;     
    }
}

@media screen and (min-width: 1140px) {
}

